# ==================================
# Unity
# ==================================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/
*.booproj
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.tmp
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.tmp.meta
*.pdb.meta
*.mdb.meta
*.bak
*.bak.meta
*.db
*.db.meta

# ==================================
# Packages / External
# ==================================
*.tgz
*.zip
*.tar
*.gz
*.rar
*.dll
*.exe
*.dylib
*.so
*.a
*.lib
*.apk
*.obb

# ==================================
# Visual Studio Cache
# ==================================
.vs/
.vscode/
.idea/

# ==================================
# Autres
# ==================================
.DS_Store
Thumbs.db
